
body{
  background: #f0f0f0;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 0;
}
.wrapper{
background: white;
width: 1000px;
height: 90%;
border: 1px solid #D8D9DA;
border-radius: 15px;
display: flex;
overflow: hidden;
}
.menu{
  background-color: #FCFBFC;
  border-right: 1px solid #F0F0F0;
  padding: 30px;
}
h1{
  text-align: center;
}
button{
  background-color: rgb(0, 0, 0); 
  cursor: pointer;
  width: 310px;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 139px;
  margin-left: 30px;
  font-size: 20px;
  border: none;
  color:white
}
h2{
  color: #74777B;
  margin-left: 30px;
  font-size: 30px;
  margin-top: -80px;
}
.tegs_mini{
 padding: 13px;
 font-size: 25px; 
 margin-left: 68px;
}
.tegs_mini:hover{
  box-shadow: 0 0px 2px 0;
  cursor: pointer;
  background: white;}

.search{
  display: flex;
  gap:10px;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.poisk{
flex-grow: 1;
}
  
.lupa{
height: 40px;
width: 40px;
margin: 0px;
border-radius: 10px;
background-image:url('./lupa.png') ;
background-color: white;
background-size: 25px;
background-repeat: no-repeat ;
background-position: center;
border: 1px solid black;

}
.content{
  flex-grow: 1;
  padding: 20px;
}

.zadachi{
  border:1px solid #e3e2e5;
 border-radius:10px ;
 padding:20px;
 
}
.item-verh{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
